.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #171a1f url('../img/loader.png');
  background-size: 100% 100%;
}

.logo {
  position: relative;
  z-index: 4;
  @media (max-width: 480px) {
    & img {
      width: 170px;
    }
  }
}

.header {
  position: relative;
  padding: 70px 0;
  text-align: center;
  &__info {
    position: relative;
    overflow: hidden;
    &:extend(.block-center);
    height: 82%;
    margin: 2% auto 2%;
    z-index: 0;
    & img {
      display: block;
      width: 78vw;
      margin-left: -15%;
    }
  }
  &__title {
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: 445px;
    text-align: center;
    font-weight: 500;
    font-size: 22.5px;
    color: #fff;
    letter-spacing: 3px;
    z-index: 4;
    & > * {
      display: block;
      padding: 0 30px;
      margin-bottom: 8px; 
      background: @font;
      height: 1.7em;
      &:after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 0;
      }
    }
    @media (max-width: 480px) {
      left: 50%;
      transform: translateX(-50%);
      font-size: 18.5px;
    }
  }
  &__text {
    margin: 75px auto 65px;
  }
  &--our-story {
    height: 100vh;
    background: url('@{img-folder}our-story-bg.png');
    background-size: cover;
    background-position: 50%;
  }
  &--campaign {
    height: 100vh;
    background: url('@{img-folder}campaign-bg.png');
    background-size: cover;
  }
  &--homepage {
    height: 100vh;
    background: url('@{img-folder}homepage-bg.png');
    background-size: cover;
  }
  &.pb-30 {
    padding-bottom: 30px;
  }
  &__scroll {
    position: absolute;
    display: block;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 500;
    bottom: 2%;
    width: 100%;
    color: @btn;
    &:hover {
      color: @btn;
      opacity: .75;
    }
    &:after {
      content: '';
      display: block;
      &:extend(.sprite-btn-scroll);
      margin: 10px auto 0;
    }
    &-icon {
      margin-top: 12px;
    }
    @media (max-width: 480px) {
      color: transparent;
      &:hover, &:active, &:focus {
        color: transparent;
      }
      &:after { background-position: -88px -103px; width: 13px; height: 9px;}
    }
  }
  &--full-screen {
    height: 100vh;
  }
  @media (min-width: 1800px) {
    &--our-story,
    &--campaign {
      height: 680px;
    }
    &--our-story &__text {
      max-width: 508px;
      font-weight: 200;
    }
    &--our-story &__scroll,
    &--our-story .follow-us,
    &--our-story .sound-btn {
      display: none;
    }
    &--campaign {
      background: url('@{img-folder}campaign-bg-hd.png');
    }
  }
  @media (max-width: 480px) {
    background-position: 67% 0; 
    padding-top: 20px;
  }
}


/* Homepage Manifesto */

.manifesto {
  position: relative;
  height: 100vh;
  padding: 70px 0;
  background: url('@{img-folder}manifesto-bg.png') repeat;
  text-align: center;
  // z-index: 2;

  &__title {
    font-family: 'UbuntuMono', 'Ubuntu', Arial, sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 1;
    margin: 7% auto 9%;
    color: #fff;
    letter-spacing: 4px;
    background: url('@{img-folder}manifesto-glitch.png') no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
    @media (min-width: 1800px) {
      font-size: 50px;
      letter-spacing: 10px;
    }
    @media (max-width: 480px) {
      font-size: 20px;
      letter-spacing: 5px;
    }
  }
  @media (min-width: 2250px) {
    height: 75vh;
  }
  @media (max-width: 480px) {
    padding-top: 20px;
  }
}


/* Article */

.main {
  position: relative;
  color: @font;
  padding-bottom: 110px;
  z-index: 3;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  &__item {
    margin-bottom: 50px;
    &-content {
      font-size: 12px;
      line-height: 30px;
      word-spacing: 3px;
      letter-spacing: 1.5px;
      text-align: justify;
      text-align-last: center;

      @media (max-width: 480px) {
        width: 250px;
        margin: 0 auto;
      }
    }
    &-manifesto {
      &:extend(.break-text);
      letter-spacing: 1.5px;
      & > * {
        display: block;
        padding: 0 30px;
        margin-bottom: 8px; 
        background: @font;
        text-align: justify;
        height: 1.7em;
        line-height: 1.7em;

        &:last-child {
          text-align: center;
        }
        &:after {
          content: '';
          display: inline-block;
          width: 100%;
          height: 0;
        }
        @media (min-width: 1800px) {
          margin-bottom: 10px;
          word-spacing: normal;
          line-height: 1.7;
        }
        @media (max-width: 480px) {
          font-size: 12px;
          font-weight: 500;
          padding: 0 20px;
        }
      }
      & b {
        font-weight: inherit;
        color: @btn;
      }

      @media (min-width: 1800px) {
        letter-spacing: 3.5px;
        font-size: 16.5px;
      }
      @media (max-width: 480px) {
        width: 300px;
        margin: 0 auto;
        letter-spacing: -.5px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: 1800px) {
        max-width: 505px;
        margin: 0 auto 50px;
    }
  }
}


/* Catalog */

.catalog {
  &__title {
    margin-bottom: 1.5%;

    @media (max-width: 480px) {
      & img {
        width: 300px;
      }
    }
  }
  &__try {
    position: relative;
    max-width: 865px;
    padding: 20px 0;
    margin: 70px auto;
    background: #f1efef;

    &-btn {
      &:extend(.sprite-expand-down);
    }
    &-text {
      display: none;
      padding: 0;
    }

    &.expanded &-btn {
      &:extend(.sprite-expand-up);
    }
    &.expanded &-text {
      display: block;
    }
  }
  &__list {
    position: relative;
    // max-width: 69.9%;
    max-width: 865px;
    margin: 0 auto;
    &:extend(.ul-unstyled);
    &.recommendation &-item {
      cursor: pointer;
    }
    &-item {
      display: inline-block;
      width: 36%;
      max-height: 430px;
      padding: 30px 0;
      margin-left: (100-36*2)/2%;
      line-height: 1;
      background: #eaeaea;
      color: #2e2e2e;
      &:nth-child(odd) {
        margin-left: (100-36*2)/4%;
      }
      &:nth-child(n+3) {
        margin-top: 50px;
      }
      @media (max-width: 1365px) {
        width: 35%;
        margin-left: (100-35*2)/3%;
      }
      @media (max-width: 1024px) {
        width: 75%;
        margin-left: 25/2%;
        &:nth-child(n+2) {
          margin-top: 50px;
        }
      }
      @media (max-width: 480px) {
        width: 100%;
        margin-left: 0 !important;

        & .slider {
          margin: 70px 0 30px 0;
        }
        & .slider__content img {
          width: 325px;
          margin-left: -15%;
        }
      }
    }
    &-link, &-link:hover {
      color: #2e2e2e;
    }
  }
}


/* Product */

.product {
  &__info {
    margin: 40px 0;
  }
  &__btns {
    margin-bottom: 60px;
    & .shop-btn:first-child {
      margin-right: 60px;
    }
    @media (max-width: 480px) {
      & .shop-btn {
        display: block;
        margin: 0 auto;

        &:first-child {
          margin-right: auto;
          margin-bottom: 50px;
        }
      }
    }
  }
  &-name {
    display: block;
    font: 400 16px 'UbuntuMono';
    word-spacing: 10px;
    letter-spacing: 3px;
  }
  &-price {
    display: block;
    font-size: 26px;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: 3px;
  }
  &__description {
    float: none;
    margin: 0 auto 100px;
    max-width: 540px;
    width: 540px;
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
    text-align: justify;
    text-align-last: center;
    &-btns {
      margin-top: 50px;
    }
    &-btn {
      font-size: 14px;
      color: #86888a;
      &:first-child {
        margin-right: 50px;
      }
      &:before {
        content: '+';
        margin-right: 10px;
      }
      &:hover {
        opacity: .75;
        color: #86888a;
      }
    }

    @media (max-width: 480px) {
      width: 100%;
      max-width: 100%;
    }
  }
  &__descr {
    &-list {
      &:extend(.ul-unstyled);
      margin-bottom: 30px;
      text-align: center;

      @media (max-width: 480px) {
        width: 540px;
        margin-left: 25%;
        text-align-last: auto;
      }
    }

    &-item {
      display: inline-block;
      margin-right: 46px;
      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      color: #86888a;
      font-weight: 400;

      &:hover {
        opacity: .75;
        color: #86888a;
      }
    }

    &-link.active {
      color: #15191e;
    }
  }
  &__share {
    margin-bottom: 75px;
  }
}

/* Share */
.share {
  &:extend(.block-center);
  &__wrapper {
    @media (max-width: 480px) {
      width: 645px;
      margin-left: 23%;
    }
  }
  &__btn {
    display: inline-block;
    width: 20%;
    height: 32px;
    border: 1px solid #cbcbcb;
    margin-right: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 300;
    color: #cbcbcb;
    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 480px) {
      width: 135px;
    }
  }

}


/* Content */
.content {
  position: relative;
  overflow: visible;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 3;
  text-align: center;
  &__wrapper {
    position: relative;
    overflow-x: hidden;
    max-width: 900px;
    width: 900px;
    &:extend(.block-center);
    text-align: center;
    
    &--campaign {
      overflow-x: visible;
      min-height: 5000px;
    }
    &--home {
      overflow: visible;
      min-height: 1900px;
      height: 1900px;
    }

    & .logo {
      display: none;
    }
    
    @media (max-width: 480px) {
      width: 100%;
      height: 100%;
      min-height: 100%;
      padding-top: 70px;
    }
  }
  &__title,
  &__img {
    position: absolute;
    z-index: 1;

    &--first {
      @media (min-width: 1800px) {
        top: -13% !important;
      }
    }

  }
  &__title {
    top: 230px;
    left: 50px;
    z-index: 10;

    @media (min-width: 1800px) {
        top: 135px;
    }
    @media (max-width: 480px) {
      top: 30px;
      left: 50%;
      transform: translateX(-50%);

      & > img {
        width: 290px;
      }
    }
  }
  &__img img {
    display: inline-block;
    @media (max-width: 480px) {
      position: relative;
      height: 100%;
      min-width: 274px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__img {
    cursor: pointer;
    &-title {
      position: absolute;
      bottom: -30px;
      left: 0;
      font-size: 12px;
      font-weight: 500;
      color: #15191e;
      letter-spacing: 2.5px;
      &--right {
        left: auto;
        right: 0;

        @media (max-width: 480px) {
          left: 0;
          right: auto;
        }
      }
    }
    &--shadow {
      position: relative;
      display: inline-block;
      margin-top: 40px;
      -webkit-box-shadow: 0px 0px 65px -25px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 65px -25px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 65px -25px rgba(0, 0, 0, 0.75);
    }
    &[class*="lvl"] {
      -webkit-box-shadow: 0px 0px 65px -25px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 65px -25px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 65px -25px rgba(0, 0, 0, 0.75);
    }
    &.lvl2 {
      z-index: 2;
    }
    &.lvl3 {
      z-index: 3;
    }
    &--full-width {
      width: 100%;
      & img {
        width: 100%;
      }
    }
    @media (max-width: 480px) {
      position: relative;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      display: inline-block;
      width: 274px;
      height: 396px;
      margin-bottom: 85px;
      transform: translate(0);
    }
  }
  &__link-footer {
    position: absolute;
    bottom: 105px;
    width: 100%;
    text-align: center;

    @media (max-width: 480px) {
      bottom: 45px;
    }
  }

}


/* Campaign */

.campaign {
  &__info {
    font-size: 14px;
  }
}


/* Product Slider */

.slider {
  position: relative;
  z-index: 1;
  margin: 45px 0 40px 0;

  &__content {
    position: relative;
    &:extend(.ul-unstyled);
    min-height: 240px;

    &-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .5s ease-in-out;
    }
    &-item.active {
      opacity: 1;
      cursor: pointer;
      z-index: 1;
      // overflow: hidden;
    }
    & img {
      float: right;
      pointer-events: none;
      @media (max-width: 1024px) {
        float: none;
      }
    }
  }
  &__nav a {
    vertical-align: middle;
  }
  &__color {
    display: inline-block;
    border-radius: 50%;
    & img {
      display: block;
      width: 13px;
      height: 13px;
      transition: all .3s ease-in-out;
    }
    &.active img {
      width: 21px;
      height: 21px;
    }
  }
  &__control {
    &.disabled {
      cursor: default;
      opacity: .3;
      &:hover {
        opacity: .3;
      }
    }
    &:hover {
      opacity: .75;
    }
  }
  &__left {
    &:extend(.sprite-slide-left);
    margin-right: 15px;
  }
  &__right {
    &:extend(.sprite-slide-right);
    margin-left: 15px;
  }
  &--product {
    position: relative;
    top: -12.5px;
    max-width: 69.9%;
    padding: 105px 0 40px;
    margin: 0 auto;
    background: #eaeaea;

    @media (max-width: 480px) {
      max-width: 100%;
    }
  }
  &--product &__content {
    margin-bottom: 2%;

    @media (max-width: 480px) {
      min-height: 150px;
    }

    & img {
      float: none;

      @media (max-width: 480px) {
        width: 95%;
      }
    }
  }
  &--product &__color {
    width: 10.5px;
    height: 10.5px;
    margin-right: 12px;
    background: #54575b;
    transition: .3s;
    &.active {
      width: 16px;
      height: 16px;
      background: #15191e;
    }
    &:nth-last-child(2) {
      margin-right: 0;
    }
  }
}


/* Footer */

.footer {
  position: relative;
  background: #191d22;
  padding: 30px 0;
  text-align: center;
  &__nav {
    position: relative;
    z-index: 2;
    &:extend(.ul-unstyled);

    &-item {
      display: inline-block;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
      @media (max-width: 480px) {
        margin-right: 20px;

        &:first-child {
          display: none;
        }
      }
    }
    &-link {
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: #fff;
      font-size: 11px;
      font-weight: 500;


      @media (max-width: 480px) {
        font-size: 8px;
        font-weight: 600;
        letter-spacing: 0;
      }
    }
    &-link:hover {
      color: #40d3ba;
    }
  }
}

/* Lines */

.line {
  position: absolute;
  &-grid {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &-vertical {
    top: 0;
    height: 100%;
    width: 1px;
    background: @line;
    z-index: 0;
    
    &:first-child {
      left: 15%;
    }
    &:last-child {
      right: 15%;
    }
    &&--left {
      left: 100/5.5%;
    }
    &&--right {
      right: 100/5.5%;
    }
    &--dark {
      background: #0d1414;
    }
    &--light {
      background: #d1d4d4;
    }
  }
  &-horizontal {
    left: 0;
    height: 1px;
    width: 100%;
    background: @line;
    &:first-child {
      top: 23.3%;
    }
    &:last-child {
      bottom: 23.3%;
    }
    @media (min-width: 1800px) {
      &:first-child {
        top: 19%;
      }
      &:last-child {
        bottom: 19%;
      }
    }
  }
}


/* Follow us */

.follow-us {
  position: absolute;
  left: 20px;
  bottom: 30px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  font-size: 8px;
  font-weight: 500;
  &__link {
    color: @font;
  }
  &--white {
    color: #fff;
  }
  &--white &__link {
    color: #fff;
  }
  &--gray {
    color: #b6b5b5;
  }
  @media (max-width: 480px) {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: url('@{img-folder}menu-bg.png');
  background-size: 100% 100%;
  display: none;

  &.expanded {
    display: block;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    mix-blend-mode: hard-light;

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 40%;
      pointer-events: none;
    }
    &:before {
      top: 0;
      left: 0;
      background: linear-gradient(to bottom, gray 0%, rgba(128, 128, 128, 75%) 75%, transparent 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      z-index: 11;
    }
    &:after {
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, transparent, rgba(128, 128, 128, 75%) 25%, gray); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    @media (max-width: 480px) {
      position: relative;
      left: -17px;
    }
  }
  &__list {
    &:extend(.ul-unstyled);
    position: relative;
    right: -17px;
    width: 100%;
    height: 100%;
    padding: 30% 0 30%;
    overflow-y: auto;
    text-align: center;
    &-item {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      &:last-child {
        margin-bottom: 75%;
      }
    }
    &-link {
      position: relative;
      display: inline-block;
      line-height: 90px;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 3px;
      color: #fff;
      transition: all .3s;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -0.5px;
        left: -2%;
        display: block;
        width: 0;
        height: 1px;
        background: #fff;
        transition: all .5s;
      }
      &:hover, &:focus {
        color: #fff;
        text-shadow: 0 0 10px #fff;
        &:before {
          width: 104%;
        }
      }

      @media (max-width: 480px) {
        line-height: 45px;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
  @media (max-width: 480px) {
    & .shop-btn {
      display: block;
      top: 16px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/* Cart */
.cart {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 10;
  width: 600px;
  height: 100%;
  padding: 3% 5% 3% 3%;
  background: #f1efef;
  color: #15191e;
  transition: all .5s ease-in-out;
  &.expanded {
    right: 0;
  }
  &__line {
    width: 100%;
    height: 1px;
    margin: 0;
    margin-top: 40px;
    background: #838486;
  }
  &__info {
    position: relative;
    padding-right: 30px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.6px;
    color: #15191e;

    &:hover {
      color: #15191e;
      opacity: .75;
    }
    &:before {
      content: '';
      &:extend(.sprite-arrow-right);
      position: absolute;
      top: 2px;
      right: 0;
    }
  }
  &__item {
    position: relative;
    &-photo {
      float: left;
      width: 20%;

      & img {
        width: 85px;
        height: 30px;
      }
    }
    &-info {
      position: relative;
      float: right;
      width: 75%;
    }
    &-title {
      font-size: 14px;
      letter-spacing: 2px;
    }
    &-count {
      font-size: 14px;
      letter-spacing: 2px;
    }
    &-remove {
      &:extend(.sprite-remove-icon);
      position: absolute;
      top: 2px;
      right: 0;

      &:hover {
        opacity: .85;
      }
    }
    &--subtotal {
      border-bottom: none;
    }
  }
  &__item, &__item-product {
    padding: 40px 0;
    border-bottom: 1px solid #838486;

    &:last-child {
      border: none;
    }

    &-product {
      border-color: #e1e1e1;
    }
  }
  &__checkout {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}