//adding icon fonts, icon sprite sheets
.sprite-sound-icon, .sprite-back, .sprite-btn-scroll, .sprite-slide-left, .sprite-slide-right, 
.sprite-expand-down, .sprite-expand-up
{ display: inline-block; background: url('@{img-folder}spritesheet.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; vertical-align: middle;}
 
.sprite-sound-icon { background-position: -2px -0px; width: 41px; height: 23px; }
.sprite-back { background-position: -2px -25px; width: 31px; height: 25px; }
.sprite-btn-scroll { background-position: -2px -52px; width: 31px; height: 31px; }
.sprite-slide-left { background-position: -2px -85px; width: 31px; height: 25px; }
.sprite-slide-right { background-position: -2px -112px; width: 31px; height: 25px; }
.sprite-expand-down { background-position: -2px -139px; width: 10px; height: 13px; }
.sprite-expand-up { background-position: -14px -139px; width: 10px; height: 13px; }